doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject
    include _style  
  body
    table.background(border='0', cellpadding='0', cellspacing='0')
      tr
        td
        td(align="center" width='600')
          table.content(border='0', cellpadding='0', cellspacing='0')
            tr 
              td(width="10") &nbsp;
              td(width="580")
                .logo 
                  img(src="http://localhost:3333/images/email/devchallenges.png")
              td(width="10") &nbsp;
            tr 
              td(width="10") &nbsp;
              td(width="580")
                .main 
                  block content
              td(width="10") &nbsp;
            tr 
              td(width="10") &nbsp;
              td(width="580")
                .footer 
                  block footer
                    .footer 
                      small This e-mail was generated automaticaly. Please do not respond to it.
              td(width="10") &nbsp;
        td