extends base

block content 
  h1 Hello #{name}!
  if changed
    p To change your e-mail address you need to verify it.
  else
    p Welcome to fullstack challenge from devchallenges.io.
    p To activate your account you need to verify your e-mail.
  p Your verification token:
  p.btn= token