extends base

block content 
  h1 Hello #{name}
  p Welcome to fullstack challenge from devchallenges.io.
  p To activate your account you need to verify your e-mail.
  p Your confirmation token will be valid for one hour:
  p.btn= token
  p In case you missed it, you can always request for new token in dashboard.